In [1]:
import pandas as pd

In [14]:
df = pd.read_html('https://en.wikipedia.org/wiki/The_World%27s_Billionaires')

In [15]:
len(df)

48

In [16]:
data = df[0]

In [21]:
df[2]

,No.,Name,Net worth (USD),Age,Nationality,Primary source(s) of wealth
0,1,Bernard Arnault & family,$233 billion,75,France,LVMH
1,2,Elon Musk,$195 billion,52,South Africa Canada United States,"Tesla, SpaceX, Twitter (Currently X)"
2,3,Jeff Bezos,$194 billion,60,United States,Amazon
3,4,Mark Zuckerberg,$177 billion,39,United States,Meta Platforms
4,5,Larry Ellison,$141 billion,79,United States,Oracle Corporation
5,6,Warren Buffett,$133 billion,93,United States,Berkshire Hathaway
6,7,Bill Gates,$128 billion,68,United States,Microsoft
7,8,Steve Ballmer,$121 billion,68,United States,Microsoft
8,9,Mukesh Ambani,$116 billion,65,India,Reliance Industries
9,10,Larry Page,$114 billion,51,United States,Google

In [22]:
data.head()

,0,1
0,"List of the world's billionaires, ranked in or...","List of the world's billionaires, ranked in or..."
1,The net worth of the world's billionaires incr...,The net worth of the world's billionaires incr...
2,Publication details,Publication details
3,Publisher,".mw-parser-output .plainlist ol,.mw-parser-out..."
4,Publication,Forbes